{% extends 'base.html.twig' %}



{% block body %}


        <h2> List of bookings</h2>

        <table class = "table table-striped">
            <tr>
                <th>ID</th>
                <th>userid</th>
                <th>Name</th>
                <th>Emailid</th>
                <th>Phonenumber</th>
                <th>Action1</th>
                <th>Action2</th>

            </tr>
            {% for list in booking %}
                <tr>
                    <td>{{ list.Id }}</td>
                    <td><a href="/bookings/{{list.Id }}"> {{ list.Userid }}</a></td>
                    <td>{{ list.name }}</td>
                    <td>{{ list.emailid }}</td>
                    <td>{{ list.phonenumber }}</td>
                    <td><a href="/bookings/delete/{{ list.Id }}">Delete</a></td>
                    <td><a href="/bookings/edit/{{ list.Id }}">Edit</a></td>
                </tr>

            {% endfor %}
        </table>



{% endblock %}

